<a href="https://colab.research.google.com/github/Sandeshbabar/DSBDALab/blob/main/LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
arr = np.array ([1,2,3,4,5,6])

In [ ]:
sr = pd.Series(arr)
print(sr)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
char = pd.Series(['a','b'])
print(char)

0    a
1    b
dtype: object

In [ ]:
df=pd.read_excel("Demo.xlsx")
print(df)

          Sr. no.                    Roll No        Name of the Student   DM  \
0               1                     SCOA01              ALISHA SHEIKH   24
1               2                     SCOA02  SOHAM JAYYANNTH DESHMUKKH   16
2               3                     SCOA03         SHELAR NEHA NILESH   20
3               4                     SCOA04                RIYA JAWALE   18
4               5                     SCOA05      NARHE VARSHA RAOSAHEB   20
..            ...                        ...                        ...  ...
77  Maximum marks                        NaN                        NaN   24
78            NaN                        NaN                        NaN  NaN
79            NaN                        NaN                        NaN  NaN
80            NaN                        NaN                        NaN  NaN
81            NaN  Internal Exam Coordinator                        NaN  NaN

    FDS  OOP   CG DELD  Unnamed: 8  Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  \
0    27   20   15   16         NaN         NaN  ...          NaN          NaN
1     9    9   AB   AB         NaN         NaN  ...          NaN          NaN
2    23   16   15   15         NaN         NaN  ...          NaN          NaN
3    14   11    8   15         NaN         NaN  ...          NaN          NaN
4    24   16   24   20         NaN         NaN  ...          NaN          NaN
..  ...  ...  ...  ...         ...         ...  ...          ...          ...
77   27   25   29   27         NaN         NaN  ...          NaN          NaN
78  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
79  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
80  NaN  NaN  NaN  NaN         NaN         NaN  ...          NaN          NaN
81  NaN  NaN  HOD  NaN         NaN         NaN  ...          NaN          NaN

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0           NaN          NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN          NaN
..          ...          ...          ...          ...          ...
77          NaN          NaN          NaN          NaN          NaN
78          NaN          NaN          NaN          NaN          NaN
79          NaN          NaN          NaN          NaN          NaN
80          NaN          NaN          NaN          NaN          NaN
81          NaN          NaN          NaN          NaN          NaN

    Unnamed: 21  Unnamed: 22  Unnamed: 23
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
..          ...          ...          ...
77          NaN          NaN          NaN
78          NaN          NaN         321`
79          NaN          NaN            `
80          NaN          NaN          NaN
81          NaN          NaN          NaN

[82 rows x 24 columns]

In [ ]:
x = df.replace(to_replace=np.NaN, value=2)
print(x)

          Sr. no.                    Roll No        Name of the Student  DM  \
0               1                     SCOA01              ALISHA SHEIKH  24
1               2                     SCOA02  SOHAM JAYYANNTH DESHMUKKH  16
2               3                     SCOA03         SHELAR NEHA NILESH  20
3               4                     SCOA04                RIYA JAWALE  18
4               5                     SCOA05      NARHE VARSHA RAOSAHEB  20
..            ...                        ...                        ...  ..
77  Maximum marks                          2                          2  24
78              2                          2                          2   2
79              2                          2                          2   2
80              2                          2                          2   2
81              2  Internal Exam Coordinator                          2   2

   FDS OOP   CG DELD  Unnamed: 8  Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  \
0   27  20   15   16         2.0         2.0  ...          2.0          2.0
1    9   9   AB   AB         2.0         2.0  ...          2.0          2.0
2   23  16   15   15         2.0         2.0  ...          2.0          2.0
3   14  11    8   15         2.0         2.0  ...          2.0          2.0
4   24  16   24   20         2.0         2.0  ...          2.0          2.0
..  ..  ..  ...  ...         ...         ...  ...          ...          ...
77  27  25   29   27         2.0         2.0  ...          2.0          2.0
78   2   2    2    2         2.0         2.0  ...          2.0          2.0
79   2   2    2    2         2.0         2.0  ...          2.0          2.0
80   2   2    2    2         2.0         2.0  ...          2.0          2.0
81   2   2  HOD    2         2.0         2.0  ...          2.0          2.0

    Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0           2.0          2.0          2.0          2.0          2.0
1           2.0          2.0          2.0          2.0          2.0
2           2.0          2.0          2.0          2.0          2.0
3           2.0          2.0          2.0          2.0          2.0
4           2.0          2.0          2.0          2.0          2.0
..          ...          ...          ...          ...          ...
77          2.0          2.0          2.0          2.0          2.0
78          2.0          2.0          2.0          2.0          2.0
79          2.0          2.0          2.0          2.0          2.0
80          2.0          2.0          2.0          2.0          2.0
81          2.0          2.0          2.0          2.0          2.0

    Unnamed: 21  Unnamed: 22  Unnamed: 23
0           2.0          2.0            2
1           2.0          2.0            2
2           2.0          2.0            2
3           2.0          2.0            2
4           2.0          2.0            2
..          ...          ...          ...
77          2.0          2.0            2
78          2.0          2.0         321`
79          2.0          2.0            `
80          2.0          2.0            2
81          2.0          2.0            2

[82 rows x 24 columns]

In [ ]:
T = x.head(20)
print(T)

   Sr. no.  Roll No               Name of the Student  DM FDS OOP  CG DELD  \
0        1   SCOA01                     ALISHA SHEIKH  24  27  20  15   16
1        2   SCOA02         SOHAM JAYYANNTH DESHMUKKH  16   9   9  AB   AB
2        3   SCOA03                SHELAR NEHA NILESH  20  23  16  15   15
3        4   SCOA04                       RIYA JAWALE  18  14  11   8   15
4        5   SCOA05             NARHE VARSHA RAOSAHEB  20  24  16  24   20
5        6   SCOA06           BHUTDA MAHESH SHANTILAL  20   9  AB   0   AB
6        7   SCOA07              JAGTAP HARISH YUVRAJ  22  18   3  16    7
7        8   SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20  19  16   23
8        9   SCOA09              DARWEY RUDRA GUNWANT  22  12   9  15    7
9       10   SCOA10                ERANDE TEJAS DIPAK  24  18  11  23   AB
10      11   SCOA11             TRIPATHI VIKALP VIKAS  18  13   7  18   10
11      12   SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23  24  21   AB
12      13   SCOA13              MUNGASE SARTHAK ANIL  16  24  12  29   AB
13      14   SCOA14                 GOYAL SURAJ MANOJ  16  19   9  13   10
14      15   SCOA15              DHAWNE DEVANG GANESH  18  21  12  12   13
15      16   SCOA16              SHELKE GAURAV GIRISH  20  19  12   9   16
16      17   SCOA17           KHATAL NANDINI RAJENDRA  12   -   5   7   AB
17      18   SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24  19  28   17
18      19   SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23   7  14   14
19      20   SCOA20                VIDULA VIKAS PATIL  20  24  16  26   20

    Unnamed: 8  Unnamed: 9  ...  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          2.0         2.0  ...          2.0          2.0          2.0
1          2.0         2.0  ...          2.0          2.0          2.0
2          2.0         2.0  ...          2.0          2.0          2.0
3          2.0         2.0  ...          2.0          2.0          2.0
4          2.0         2.0  ...          2.0          2.0          2.0
5          2.0         2.0  ...          2.0          2.0          2.0
6          2.0         2.0  ...          2.0          2.0          2.0
7          2.0         2.0  ...          2.0          2.0          2.0
8          2.0         2.0  ...          2.0          2.0          2.0
9          2.0         2.0  ...          2.0          2.0          2.0
10         2.0         2.0  ...          2.0          2.0          2.0
11         2.0         2.0  ...          2.0          2.0          2.0
12         2.0         2.0  ...          2.0          2.0          2.0
13         2.0         2.0  ...          2.0          2.0          2.0
14         2.0         2.0  ...          2.0          2.0          2.0
15         2.0         2.0  ...          2.0          2.0          2.0
16         2.0         2.0  ...          2.0          2.0          2.0
17         2.0         2.0  ...          2.0          2.0          2.0
18         2.0         2.0  ...          2.0          2.0          2.0
19         2.0         2.0  ...          2.0          2.0          2.0

    Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  \
0           2.0          2.0          2.0          2.0          2.0
1           2.0          2.0          2.0          2.0          2.0
2           2.0          2.0          2.0          2.0          2.0
3           2.0          2.0          2.0          2.0          2.0
4           2.0          2.0          2.0          2.0          2.0
5           2.0          2.0          2.0          2.0          2.0
6           2.0          2.0          2.0          2.0          2.0
7           2.0          2.0          2.0          2.0          2.0
8           2.0          2.0          2.0          2.0          2.0
9           2.0          2.0          2.0          2.0          2.0
10          2.0          2.0          2.0          2.0          2.0
11          2.0          2.0          2.0          2.0          2.0
12          2.0          2.0          2.0          2.0          2.0
13          2.0          2.0          2.0          2.0          2.0
14          2.0          2.0          2.0          2.0          2.0
15          2.0          2.0          2.0          2.0          2.0
16          2.0          2.0          2.0          2.0          2.0
17          2.0          2.0          2.0          2.0          2.0
18          2.0          2.0          2.0          2.0          2.0
19          2.0          2.0          2.0          2.0          2.0

    Unnamed: 22  Unnamed: 23
0           2.0            2
1           2.0            2
2           2.0            2
3           2.0            2
4           2.0            2
5           2.0            2
6           2.0            2
7           2.0            2
8           2.0            2
9           2.0            2
10          2.0            2
11          2.0            2
12          2.0            2
13          2.0            2
14          2.0            2
15          2.0            2
16          2.0            2
17          2.0            2
18          2.0            2
19          2.0            2

[20 rows x 24 columns]

In [ ]:
final = T.drop(T.columns[7:],axis=1)
print (final)

   Sr. no.  Roll No               Name of the Student  DM FDS OOP  CG
0        1   SCOA01                     ALISHA SHEIKH  24  27  20  15
1        2   SCOA02         SOHAM JAYYANNTH DESHMUKKH  16   9   9  AB
2        3   SCOA03                SHELAR NEHA NILESH  20  23  16  15
3        4   SCOA04                       RIYA JAWALE  18  14  11   8
4        5   SCOA05             NARHE VARSHA RAOSAHEB  20  24  16  24
5        6   SCOA06           BHUTDA MAHESH SHANTILAL  20   9  AB   0
6        7   SCOA07              JAGTAP HARISH YUVRAJ  22  18   3  16
7        8   SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20  19  16
8        9   SCOA09              DARWEY RUDRA GUNWANT  22  12   9  15
9       10   SCOA10                ERANDE TEJAS DIPAK  24  18  11  23
10      11   SCOA11             TRIPATHI VIKALP VIKAS  18  13   7  18
11      12   SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23  24  21
12      13   SCOA13              MUNGASE SARTHAK ANIL  16  24  12  29
13      14   SCOA14                 GOYAL SURAJ MANOJ  16  19   9  13
14      15   SCOA15              DHAWNE DEVANG GANESH  18  21  12  12
15      16   SCOA16              SHELKE GAURAV GIRISH  20  19  12   9
16      17   SCOA17           KHATAL NANDINI RAJENDRA  12   -   5   7
17      18   SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24  19  28
18      19   SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23   7  14
19      20   SCOA20                VIDULA VIKAS PATIL  20  24  16  26

In [ ]:
final['Gender']=['male']*20
print(final)

   Sr. no.  Roll No               Name of the Student  DM FDS OOP  CG Gender
0        1   SCOA01                     ALISHA SHEIKH  24  27  20  15   male
1        2   SCOA02         SOHAM JAYYANNTH DESHMUKKH  16   9   9  AB   male
2        3   SCOA03                SHELAR NEHA NILESH  20  23  16  15   male
3        4   SCOA04                       RIYA JAWALE  18  14  11   8   male
4        5   SCOA05             NARHE VARSHA RAOSAHEB  20  24  16  24   male
5        6   SCOA06           BHUTDA MAHESH SHANTILAL  20   9  AB   0   male
6        7   SCOA07              JAGTAP HARISH YUVRAJ  22  18   3  16   male
7        8   SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20  19  16   male
8        9   SCOA09              DARWEY RUDRA GUNWANT  22  12   9  15   male
9       10   SCOA10                ERANDE TEJAS DIPAK  24  18  11  23   male
10      11   SCOA11             TRIPATHI VIKALP VIKAS  18  13   7  18   male
11      12   SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23  24  21   male
12      13   SCOA13              MUNGASE SARTHAK ANIL  16  24  12  29   male
13      14   SCOA14                 GOYAL SURAJ MANOJ  16  19   9  13   male
14      15   SCOA15              DHAWNE DEVANG GANESH  18  21  12  12   male
15      16   SCOA16              SHELKE GAURAV GIRISH  20  19  12   9   male
16      17   SCOA17           KHATAL NANDINI RAJENDRA  12   -   5   7   male
17      18   SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24  19  28   male
18      19   SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23   7  14   male
19      20   SCOA20                VIDULA VIKAS PATIL  20  24  16  26   male

In [ ]:
final=final[final['DM']>=20]
print(final)

   Sr. no.  Roll No               Name of the Student  DM FDS OOP  CG Gender
0        1   SCOA01                     ALISHA SHEIKH  24  27  20  15   male
2        3   SCOA03                SHELAR NEHA NILESH  20  23  16  15   male
4        5   SCOA05             NARHE VARSHA RAOSAHEB  20  24  16  24   male
5        6   SCOA06           BHUTDA MAHESH SHANTILAL  20   9  AB   0   male
6        7   SCOA07              JAGTAP HARISH YUVRAJ  22  18   3  16   male
7        8   SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20  19  16   male
8        9   SCOA09              DARWEY RUDRA GUNWANT  22  12   9  15   male
9       10   SCOA10                ERANDE TEJAS DIPAK  24  18  11  23   male
11      12   SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23  24  21   male
15      16   SCOA16              SHELKE GAURAV GIRISH  20  19  12   9   male
17      18   SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24  19  28   male
18      19   SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23   7  14   male
19      20   SCOA20                VIDULA VIKAS PATIL  20  24  16  26   male

In [ ]:
f=[final['DM']>=20]
print(f)

[0     True
2     True
4     True
5     True
6     True
7     True
8     True
9     True
11    True
15    True
17    True
18    True
19    True
Name: DM, dtype: bool]

In [ ]:
fi = final.drop(['Gender'],axis=1)
print(fi)

   Sr. no.  Roll No               Name of the Student  DM FDS OOP  CG
0        1   SCOA01                     ALISHA SHEIKH  24  27  20  15
2        3   SCOA03                SHELAR NEHA NILESH  20  23  16  15
4        5   SCOA05             NARHE VARSHA RAOSAHEB  20  24  16  24
5        6   SCOA06           BHUTDA MAHESH SHANTILAL  20   9  AB   0
6        7   SCOA07              JAGTAP HARISH YUVRAJ  22  18   3  16
7        8   SCOA08         DESHPANDE SRUSHTI VINAYAK  24  20  19  16
8        9   SCOA09              DARWEY RUDRA GUNWANT  22  12   9  15
9       10   SCOA10                ERANDE TEJAS DIPAK  24  18  11  23
11      12   SCOA12  SHAIKH AMAAN AHMED SHAKEEL AHMED  20  23  24  21
15      16   SCOA16              SHELKE GAURAV GIRISH  20  19  12   9
17      18   SCOA18           BHUJBAL SRUSHTI VINAYAK  24  24  19  28
18      19   SCOA19       CHINCHANE SANSKRUTI GAJANAN  22  23   7  14
19      20   SCOA20                VIDULA VIKAS PATIL  20  24  16  26

In [ ]:
dg=final.groupby('Gender')
dg.first()
dg.count()

        Sr. no.   Roll No  Name of the Student  DM  FDS  OOP  CG
Gender
male         13        13                   13  13   13   13  13

In [ ]:
dm=final.groupby('DM')
dm.first()
dm.count()

    Sr. no.   Roll No  Name of the Student  FDS  OOP  CG  Gender
DM
20        6         6                    6    6    6   6       6
22        3         3                    3    3    3   3       3
24        4         4                    4    4    4   4       4

In [ ]:
final['DM'].corr(final['CG'])

0.2607747031589925

In [ ]:
final.describe()

        Sr. no.  Roll No Name of the Student  DM  FDS  OOP  CG Gender
count        13       13                  13  13   13   13  13     13
unique       13       13                  13   3    8   10  10      1
top           1   SCOA01       ALISHA SHEIKH  20   23   16  15   male
freq          1        1                   1   6    3    3   3     13

In [ ]:
final['DM'].drop_duplicates()

0    24
2    20
6    22
Name: DM, dtype: object

In [ ]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 0 to 19
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sr. no.              13 non-null     object
 1    Roll No             13 non-null     object
 2   Name of the Student  13 non-null     object
 3   DM                   13 non-null     object
 4   FDS                  13 non-null     object
 5   OOP                  13 non-null     object
 6   CG                   13 non-null     object
 7   Gender               13 non-null     object
dtypes: object(8)
memory usage: 936.0+ bytes

In [ ]:
filter= final.filter(items=['DM'])
print(filter)

    DM
0   24
2   20
4   20
5   20
6   22
7   24
8   22
9   24
11  20
15  20
17  24
18  22
19  20